@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
}

body {
    display: flex;
    max-width: 52rem;
    font-size: 0.9em;
    margin: 0 auto;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1e1e2e;
    color: #cdd6f4;
    padding: 0 1rem;
    font-weight: 300;   
}

a {
    color: #89dceb;
    text-decoration: none;
}

a:hover {
    color: #f9e2af;
    text-decoration: underline;
}

h1 {
    font-size: 1.5em;
    color: #cba6f7;
}

h2 {
    font-size: 1.3em;
    color: #a6e3a1;
}

h3 {
    font-size: 1.2em;
    color: #89dceb;
}

h4 {
    font-size: 1.1em;
    color: #f5c2e7;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow-x: hidden;
}

.navbar>ul {
    display: flex;
    list-style: none;
}

.navbar>ul>li {
    margin-left: 1.25rem;
    font-size: larger;
}

.footer {
    margin-top: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #a6adc8;
}

.listDate {
    margin-right: 2rem;
}

.nav-brand {
    color: #cdd6f4;
}